<body>
    <%- include ('./partials/header.ejs') -%>
    <section>
     <h1>Home</h1>
     <p>Welcome <%= name %></p>
     <h2>Current details</h2>
     <ul>
         <li>Name: <%= name %></li>
         <li>Email: <%= email %></li>
     <li>Genres: <%= genre %></li>
    </ul>
</section>
<section>
        <h2>Edit details</h2>
        <form action='/update' method='POST'>
            <fieldset>
                <legend>Personal details</legend>
                <input type='name' id='name' name='name' class='form-control' placeholder='Enter Name'                        
                    value='<%= typeof name != 'undefined' ? name : '' %>' /> 
                <input type='email' id='email' name='email' class='form-control' placeholder='Enter Email'
                    value='<%= typeof email != 'undefined' ? email : '' %>' />
            </fieldset>
            <fieldset>
                <legend>Music interests</legend>
            </fieldset>
            <button type='submit'>Save</button>
        </form>
        
    </section>
    <a class='home' href='/users/logout'><button id='switch'>Log Out</button></a>
</body>