<body>
    <%- include ('./partials/header') -%>
            <form action='/users/register' method='POST' enctype='multipart/form-data'>
                <img src="../public/images/logo.png" alt="">
                <fieldset>
                    <legend>Register</legend>
                    <%- include ('./partials/errorMessages')-%>                   
                    <input type='name' id='name' name='name' class='form-control' placeholder='Enter Name'                        
                        value='<%= typeof name != 'undefined' ? name : '' %>' /> 
                    <input type='email' id='email' name='email' class='form-control' placeholder='Enter Email'
                        value='<%= typeof email != 'undefined' ? email : '' %>' />
                    <input type='password' id='password' name='password' class='form-control'
                        placeholder='Create Password' value='<%= typeof password != 'undefined' ? password : '' %>' />
                    <input type='password' id='password2' name='password2' class='form-control'
                        placeholder='Confirm Password' value='<%= typeof password2 != 'undefined' ? password2 : '' %>' />
                </fieldset>
                <fieldset>
                    <legend>Profiel foto</legend>
                    <label for='profile_pic'>Upload afbeelding</label>
                    <input type='file' name='profile_pic' id='profile_pic'>
                </fieldset>
                <fieldset>
                    <legend>Music interests</legend>
                    <ul class="genre_picker">
                    <li class="selection"><input type="checkbox" id="genre" name="genre" value="Electronic">
                        <p><span>Electronic</span></p>
                        <label for="genre"> Electronic</label>
                    </li>
                    <li class="selection"><input type="checkbox" id="genre" name="genre" value="Blues">
                        <p><span>Blues</span></p>
                        <label for="genre">Blues</label>
                    </li>
                    <li class="selection"> <input type="checkbox" id="genre" name="genre" value="Pop">
                        <p><span>Pop</span></p>
                        <label for="genre">Pop</label>
                    </li>
                    <li class="selection"> <input type="checkbox" id="genre" name="genre" value="Country">
                        <p><span>Country</span></p>
                        <label for="genre">Country</label>
                    </li>
                    <li class="selection"> <input type="checkbox" id="genre" name="genre" value="House">
                        <p><span>House</span></p>
                        <label for="genre">House</label>
                    </li>
                    <li class="selection"> <input type="checkbox" id="genre" name="genre" value="Hip Hop">
                        <p><span>Hip hop</span></p>
                        <label for="genre">Hip hop</label>
                    </li>
                    <div id="container">
                    <li class="selection"> <input type="checkbox" id="genre" name="genre" value="Jazz">
                        <p><span>Jazz</span></p>
                        <label for="genre">Jazz</label>
                    </li>
                    <li class="selection">
                        <input type="checkbox" id="genre" name="genre" value="RB">
                        <p><span>R & B</span></p>
                        <label for="genre">R & B</label>
                    </li>
                    <li class="selection"> <input type="checkbox" id="genre" name="genre" value="Hard rock">
                        <p><span>Hard rock</span></p>
                        <label for="genre">Hard rock</label>
                    </li>
                    <li class="selection">
                        <input type="checkbox" id="genre" name="genre" value="Kpop">
                        <p><span>Kpop</span></p>
                        <label for="genre">Kpop</label>
                    </li>
                    <li class="selection">
                        <input type="checkbox" id="genre" name="genre" value="Metal">
                        <p><span>Metal</span></p>
                        <label for="genre">Metal</label>
                    </li>
                </div>
                </ul>
                <a href="http://" target="_blank" rel="noopener noreferrer" id="moreLess">More genres</a>
                </fieldset>
                <button type='submit'>Register</button>
            </form>
            <!-- <button id="moreLess">More genres</button> -->
            <a href='./login'><button id='switch'>Log in</button></a>
            <script type="text/javascript" src="../public/js/script.js"></script>
</body>